<% include partials/header %>
<ul>
        <% for(var i=0; i<crud.length; i++) {%>
                    <li><%= crud[i]['id'] %></li>
                    <li><%= crud[i]['name'] %></li>
                    <li><%= crud[i]['roll'] %></li>
                    <button>
                            <a href="/edit/<%=crud[i]['id']%>/edit">Edit</a>
                    </button>
                      
                            <form action="/delete/<%=crud[i]['id'] %>" method="post" >
                                    <button> Delete</button>
                            </form>
        
             <% } %>
        
       
     </ul>
     <% include partials/footer %>